body{
    padding: 0;
    margin: 0;
    /* background-color: black; */
    background-image: linear-gradient(to bottom right, #FCBE00, #FA7B00, #7D0EDE);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
    border-radius: 10px 10px 10px 10px;
    flex-grow: 1;
    height: 100vh;;
    /* background-color: red; */
    
}


.same-header-footer{
    display: flex;
    flex-grow: 1;
    /* border: 2px solid black; */
    border-radius: 10px 10px 10px 10px;
    flex-basis: 100%;
}

.inner-container{
    display: flex;
    flex-grow: 3;
    border: 2px solid black;
    border-radius: 10px 10px 10px 10px;
    flex-wrap: wrap;
    height: 24em;
    width: 24em;
    background-image: linear-gradient(to bottom right,#7D0EDE , #FA7B00, #FCBE00);
;
}

 .flip-box{
    height: 5em;
    width: 5em;
    border: 2px solid black;
    border-radius: 10px 10px 10px 10px;   
    margin: 6px;   
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    background-color: black;
} 

img{
    height: 5em;
    width: 5em;
    display: none;
}



.flip{
    transform: rotateY(180deg);
}



.rotate{
    transform: rotateY(180deg);
}